version: '3'

services:

  fix-validator-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: docker.pkg.github.com/whoan/fix-validator-service/fix-validator-service:buster-slim
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro

